

.introduce{
  .comp-header{
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    z-index: 1000;
    background-color: #fff;
    .header-bx{
      width: 1200px;
      height: 80px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo{
        a{
          display: inline-block;
          width: 194px;
        }
      }
    }
  }

  .comp-visual-bx{
    padding-top: 80px;
    padding-bottom: 35px;
    width: 100%;
    .comp-visual{
      width: 1200px;
      margin: 0 auto;
      padding-top: 68px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 80px;
      .comp-visual__info{
        margin-right: 128px;
        padding-top: 90px;
        .comp-visual__info-txt{
          margin-bottom: 80px;
          dt{
            font-size: 68px;
            font-weight: 700;
            color: #000000;
            line-height: 72px;
            letter-spacing: -0.6px;
            margin-bottom: 18px;
          }

          dd{
            font-size: 30px;
            color: #666666;
            letter-spacing: -0.6px;
          }
        }

        .shop{
          margin-top: 78px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          img{
            width: 165px;
            margin-right: 12px;
          }

          .shop-count-bx{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            top: 5px;
            .shop-count{
              font-size: 77px;
              font-weight: 700;
              color: #000;
              margin-right: 10px;
            }

            dl{
              dt{
                font-size: 26px;
                font-weight: 700;
                color: #202020;
              }

              dd{
                font-size: 16px;
                color: #666;
              }
            }
          }
        }
      }

      .comp-visual__motion{
        position: relative;
        .comp-visual__motion-bx{
          position: relative;
          top: 56px;
          left: 74px;
          border-radius: 30px;
          box-shadow: 4px 8px 38px 0 rgba(0, 0, 0, 0.21);
          overflow: hidden;

          .comp-visual__motion-top{
            position: absolute;
            left: 0;
            top: 0;
            width: 307px;
            z-index: 100;
          }

          .comp-visual__motion-bottom{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 307px;
            z-index: 100;
          }

          .visual-swiper{
            width: 307px;
            ul{
              li{
              }
            }
          }
        }

        .comp-visual__motion-bg{
          position: absolute;
          left: 0;
          top: 0;
          width: 448px;
          z-index: 100;
        }
      }
    }

    .comp-visual__bottom-arrow{
      text-align: center;
      padding-top: 134px;
      img{
        width: 15px;
      }
    }
  }

  .comp-content{
    .comp-content-bx{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-bottom: 1px solid #ebebeb;

      &.no-border{
        border-bottom: none;
      }

      .comp-section{
        width: 1200px;
        margin: 0 auto;
        padding: 96px 0 70px;
        .comp-section-header{
          text-align: center;
          > img{
            display: inline-block;
            width: 85px;
            margin-bottom: 28px;
          }

          h2{
            font-size: 50px;
            color: #000000;
            font-weight: 700;
            line-height: 60px;
            letter-spacing: -0.6px;
          }
        }
      }


      .section-reply{
        margin-top: 60px;
        .section-reply-swiper{
          margin-bottom: 40px;
          ul{
            li{
              position: relative;
              width: 380px;
              height: 240px;
              padding: 40px 70px 140px 30px;
              border-radius: 10px;
              //box-shadow: 4px 8px 20px 0 rgba(0, 0, 0, 0.15);
              background-color: #fff;
              .reply-content{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;

                > img{
                  margin-right: 21px;
                  width: 60px;
                  flex-shrink: 0;
                }

                dl{
                  width: 100%;
                  dt{
                    font-size: 16px;
                    color: #828282;
                    margin-bottom: 10px;
                  }

                  dd{
                    font-size: 18px;
                    color: #202020;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                  }
                }
              }

              .reply-icon{
                width: 25px;
                position: absolute;
                right: 29px;
                bottom: 25px;
              }
            }
          }
        }

        .swiper-pagination{
          left: 50%;
          transform: translateX( -50% );
          &.reply-pagination{
            span{
              width: 40px;
              height: 4px;
              margin: 0 10px 0 0;
              border-radius: 0;
              background-color: #e7e7e7;
              opacity: 1;

              &.swiper-pagination-bullet-active{
                background-color: #fdd94e;
              }

            }
          }
        }
      }

      .section-skill{
        margin-top: 70px;
        padding-left: 80px;
        padding-bottom: 70px;
        .section-skill-bx{
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          .skill-bts{
            width: 300px;
            flex-shrink: 0;
            ul{
              li{
                margin-bottom: 20px;
                .skill-btn-bx{
                  a{
                    &.on{
                      background-color: #6840b1;
                      border: solid 1px #6840b1;
                      color: #fff;
                    }

                    display: inline-block;
                    padding: 13px 30px 12px;
                    border-radius: 22.5px;
                    background-color: #fff;
                    border: solid 1px #666666;
                    font-size: 14px;
                    color: #666666;
                    font-weight: 400;
                  }
                }
              }
            }
          }

          .skill-contents{
            width: 800px;

            .skill-content-swiper{
              ul{
                li{
                  > div{
                    font-size: 0;
                    img{
                      position: relative;
                      top: 24px;
                      left: 24px;
                      margin-right: 133px;
                      box-shadow: 4px 8px 20px 0 rgba(0, 0, 0, 0.21);
                      width: 277px;
                      border-radius: 30px;

                      &:nth-child( 2 ){
                        margin-right: 0;
                      }
                    }
                  }

                  p{
                    margin-top: 84px;
                    font-size: 26px;
                    color: #6840b1;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }

      .section-device{
        padding-bottom: 70px;
        margin-top: 60px;
        text-align: center;
        img{
          width: 999px;
        }
      }

      .section-download{
        h3{
          font-size: 24px;
          color: #666;
          text-align: center;
          margin-top: 30px;
          margin-bottom: 60px;
        }

        .download-count{
          dl{
            margin-bottom: 40px;

            &:last-child{
              margin-bottom: 0px;
            }

            dt{
              text-align: center;
              font-size: 60px;
              color: #000000;
              span{
                font-size: 60px;
                color: #6840b1;
                font-weight: 700;
              }
            }

            dd{
              text-align: center;
              font-size: 16px;
              color: #666;
            }
          }
        }

        .download-bubble{
          margin-top: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          .download-bubble-message{
            width: 503px;
            position: relative;
            span{
              text-align: center;
              display: inline-block;
              position: absolute;
              left: 36px;
              top: 15px;
              font-size: 22px;
              color: #202020;
            }

            img{

            }
          }

          .download-bubble-img{
            img{
              width: 222px;
            }
          }
        }
      }

      .section-begin{
        h3{
          text-align: center;
          font-size: 34px;
          color: #000000;
          margin-bottom: 40px;
        }

        .begin-input{
          display: flex;
          justify-content: center;
          .input-default{
            input{
              width: 435px;
            }
          }
        }
      }
    }
  }

  .more-content{
    padding-top: 80px;

    .more-bx{
      padding-top: 95px;
      background-color: #f7f7f7;
      padding-bottom: 150px;
      .intro-bx{
        width: 1000px;
        margin: 0 auto 150px;
        p{
          text-align: center;
          margin-bottom: 29px;
          img{
            width: 85px;
          }
        }

        h2{
          font-size: 50px;
          font-weight: 700;
          text-align: center;
          line-height: 60px;
          letter-spacing: -0.6px;
        }
      }

      .more-list{
        width: 1030px;
        margin: 0 auto;

        &:last-child{
          .more-list-bx{
            margin-bottom: 0;
          }
        }

        .more-list-bx{
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          margin-bottom: 200px;

          &.reverse{
            flex-direction: row-reverse;
            .more-list__info{
              padding-left: 75px;
            }
          }

          .more-list__info{
            width: 450px;
            flex-shrink: 0;
            padding-top: 90px;

            h3{
              font-size: 20px;
              color: #fff;
              padding: 11px 29px 12px 31px;
              border-radius: 30px;
              background-color: #6840b1;
              display: inline-block;
              margin-bottom: 30px;
            }

            dl{
              dt{
                font-size: 26px;
                font-weight: 700;
                color: #202020;
                margin-bottom: 10px;
              }

              dd{
                font-size: 20px;
                line-height: 28px;
                color: #666666;
              }
            }
          }

          .more-list__phone{
            width: 100%;
            ul{
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              li{
                width: 278px;
                border-radius: 30px;
                box-shadow: 4px 8px 38px 0 rgba(0, 0, 0, 0.21);
                overflow: hidden;
              }
            }
          }
        }
      }
    }

    .more-begin{
      padding-top: 39px;
      padding-bottom: 100px;
      border-bottom: 1px solid #ebebeb;
      .more-begin-bx{
        width: 1200px;
        margin: 0 auto;
        p{
          text-align: center;
          margin-bottom: 33px;
          img{
            width: 131px;
          }
        }

        dl{
          text-align: center;
          dt{
            font-size: 28px;
            color: #000000;
            margin-bottom: 30px;
          }

          dd{
            line-height: 60px;
            letter-spacing: -0.6px;
            font-size: 50px;
            font-weight: 700;
            color: #000000;
          }
        }
      }

      .more-begin-input{
        margin-top: 60px;
        display: flex;
        justify-content: center;
        .input-default{
          input{
            width: 456px;
          }
        }
      }
    }
  }

  .input-default{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    input{
      width: 100%;
      font-size: 14px;
      border-bottom: 1px solid #d1d1d1;
      padding: 10px;
      margin-right: 10px;
      &::placeholder{
        color: #9f9f9f;
      }
    }
  }
}

